/*#cd9ccc #523c5a #382b37 #4c5b58 #7d958e*/
/*Hello stranger...
It's okay, you can
scroll down. */

.navbar {
  background-color: #382b37;
}

.navbar-default .navbar-nav>li>a {
  color: #cd9ccc;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #7d958e;
}

.navbar-default .navbar-toggle {
  border-color: #cd9ccc;
}

.navbar-default .navbar-toggle:hover {
  background-color: #523c5a;
}

