/*#cd9ccc #523c5a #382b37 #4c5b58 #7d958e*/
/*Hello stranger...
It's okay, you can
scroll down. */

body {
  background-image: url(../assets/img/wallpaper-prueba.jpg);
  background-repeat: no-repeat;
}

.nav-wrapper {
  background-color: #382b37;
  font-size: 17px;
  font-family:
  font-weight: bold;
}

.navbartext {
  color: #cd9ccc;
}

.navbartext:hover {
  color: #7d958e;
}


.brand-logo:hover {
  color: #7d958e;
}

.hello {
  color: #cd9ccc;
  font-size: 20px;
  font-weight: bold;
}

.section {
  background-color: #523c5a;
}