/*#cd9ccc #523c5a #382b37 #4c5b58 #7d958e*/
/*Hello stranger...
It's okay, you can
scroll down. */

body {
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
}

.nav-wrapper {
  background-color: #382b37;
  font-size: 17px;
  font-weight: bold;
}

.navbartext {
  color: #cd9ccc;
  font-weight: bold;
}

.navbartext:hover {
  color: #7d958e;
}

.side-nav {
  background-color: #382b37;
  height: 300px;
}

.side-nav:hover {
  color: #7d958e;
}

.side-nav li>a {
  color: #cd9ccc;
  font-weight: bold;
  font-size: 30px;
}

.side-nav li>a:hover {
  color: #7d958e;
}

nav i, 
nav [class^="mdi-"], 
nav [class*="mdi-"], 
nav i.material-icons {
  font-size: 40px;
}

.menu {
  color: #cd9ccc;
}

.menu:hover {
  color: #7d958e;
}
/*
.brand-logo {
  cursor: pointer;
}

.brand-logo:hover {
  color: #7d958e;
}
*/

.hello {
  color: #cd9ccc;
  font-size: 30px;
  font-weight: bold;
}

/*Corrección espacio en blanco*/
.row {
  margin-bottom: 0;
}

.section {
  background-color: #523c5a;
}

.me {
  border-style: inset;
  border-width: 2px;
  border-color: #cd9ccc;
  align-content: flex-end;
  margin-top: 15%;
}

#about-section {
  background-color: #382b37;
  color: #cd9ccc;
  font-size: 20px;
  font-weight: bold;
}

#skills-section {
  background-color: #cd9ccc;
  color: #523c5a;
}

.skills-img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  padding: 2%;
}

#proyects-section {
  background-color: #382b37;
  color: #cd9ccc;
  text-align: center;
  font-size: 20px;
}

.card {
  background-color: #523c5a;
  height: 450px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #cd9ccc;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
  color: #382b37;
}

.card-img {
  width: 250px;
  height: 300px;
}

.btn-floating {
  background-color: #cd9ccc;
  color: #4c5b58;
  font-weight: bolder;
}

.btn-floating:hover {
  background-color: #382b37;
  color: #cd9ccc;
}

#contact-section {
  background-color: #cd9ccc;
  color: #523c5a;
}


.icon {
  font-size: 60px;
  margin: 2%;
}

.responsive-img {
  cursor: pointer;
}

.light, .page-footer .footer-copyright {
  color: #523c5a;
}

.fname {
  font-family: 'Mr Dafoe', cursive;
  font-size: 20px;
}